.Leaderboard{
    position: relative;
    margin: 4em 2em 0 2em;
    height: 300px;
}
.Leaderboard .pagination,.Leaderboard thead{
    display:none
}
.Leaderboard .react-bs-table-pagination{
    position:absolute;
    top: 15px;
    left:1px;
}
.Leaderboard__title{
    font-size: 18px;
    text-align:center;
    text-transform:capitalize;
    color: #585858;
    /* margin-bottom: 1em; */
}
.Leaderboard .table-bordered{
    border:0 solid #ebebeb!important
}
.Leaderboard .table-bordered>tbody>tr>td,.Leaderboard .table-bordered>tbody>tr>th,.Leaderboard .table-bordered>tfoot>tr>td,.Leaderboard .table-bordered>tfoot>tr>th,.Leaderboard .table-bordered>thead>tr>td,.Leaderboard .table-bordered>thead>tr>th{
    border:0
}
.Leaderboard table tbody tr td:first-child{
    text-align:center!important;
    background:#c1c1c1;
    color:#fff;
    font-weight:700
}
.Leaderboard table tbody tr td:nth-child(2){
    font-size:16px
}
.Leaderboard table tbody tr td:nth-child(3){
    text-align:center!important;
    color:#fff;
    font-weight:700;
    font-size:16px;
    background: linear-gradient(#dadada, #a9a9a9);
}
.Leaderboard .btn,.Leaderboard .btn:hover{
    border:none;
    border-radius:0;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
}

.Leaderboard .btn:hover{
    color: #fff;
    background: #d4d4d4;
}

.Leaderboard .btn-default.active,.Leaderboard .btn-default.active:focus,.Leaderboard .btn-default.active:hover,.Leaderboard .btn-default:active,.Leaderboard .btn-default:active:focus,.Leaderboard .btn-default:active:hover,.Leaderboard .btn-default:focus,.Leaderboard .btn-default:hover,.Leaderboard .open .dropdown-toggle.btn-default{
    border:0
}
.Leaderboard .dropdown-menu,.Leaderboard .dropdown-menu>li>a{
    border-radius:0;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
}
.Leaderboard .table-bordered>tbody>tr>td {
    border: 1px solid #fff ;
}
.Leaderboard .btn {
    padding: 1px 4px;
}

@media screen and (max-width: 1165px) {
    .Leaderboard .react-bs-table-pagination{
        position:absolute;
        top: 33px;
        left:1px;
    }
    .Leaderboard__title{
        font-size: 18px;
    }
}

/*# sourceMappingURL=main.css.map*/
